[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
jupyter = "*"
notebook = "*"
matplotlib = "*"
flake8 = "*"
mypy = "*"

[packages]
numpy = "*"
tensorflow = "*"
pandas = "*"
tensorboard = "*"

[requires]
python_version = "3.9"
